body {
    background-color: red;
}
li {
    display:  inline;
    float: left;
}
ul {
    background-color: #dddddd;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    padding: 1.5rem;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }